version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - 'version-update:semver-major'
    groups:
      non-major-updates:
        patterns:
          - '*'
        update-types:
          - 'minor'
          - 'patch'
